.integralBox{
	margin: 20px 0px 0px 0px;
}

.integralBoxListTile h4{
	padding: 10px 20px;
	font-weight: normal;
	font-size: 13px;
	color: #666;
	height: 56px;
	line-height: 25px;
	border-top:1px solid #eee ;
	border-bottom:1px solid #eee ;
	background: #F5F5F5;
	margin-bottom: 20px;
}
.integralBoxListTile h4 span{
	font-size: 28px;
	color: #db3752;
}
.jiefYU{
	padding: 0px 20px 30px 20px;
	font-weight: normal;
	font-size: 13px;
	color: #666;
	border-bottom:1px solid #eee ;
}
.jiefYU span{
	font-size: 28px;
	color: #db3752;
} 
.titleTable th{
	font-size: 13px;
	color:#999;
	height: 35px;
	line-height: 35px;
	border: 1px solid #F5F5F5;
}
.titleTable{
	background: #F9F9F9;
}
.Trdf{
	background: #fff;
	font-size: 13px;
	color:#999;
    height: auto;
	line-height: 35px;
	
}
.Trdf td{
	color: #666;
	text-align: center;
    border-bottom: 1px solid #F5F5F5;
}
.total {
    margin-top: 10px;
    background: #F0EBEC;
    line-height: 20px;
    border: #EED7D9 1px solid;
    padding: 10px 20px;
    overflow: hidden;
    color: #666;
    zoom: 1;
}
.total dd.gray02 {
    clear: both;
    width: 400px;
}
.total dd {
    float: left;
    margin-right: 18px;
}
.gray02 {
    color: #999;
}
.total b {
    font-family: "微软雅黑";
}
.orange {
    color: #db3752;
}
.bluebut {
    background: #49b8ff;
    border: 1px solid #1ba3fa;
    color: #fff;
}
.total a {
    float: left;
    margin-right: 10px;
    display: block;
    height: 19px;
    line-height: 19px;
    line-height: 21px\9;
}
.orangebut, .bluebut, .graybut, .cancelBtn, .greenbut {
    display: inline-block;
    font-size: 12px;
    border-radius: 2px;
    text-align: center;
    padding: 0 19px;
    cursor: pointer;
}
.Trdf td a:hover{
	color: #7418C6 !important;
	text-decoration: underline;
}
